.card {
    transition: transform 0.3s ease; /* Suaviza la animación */
}

.card:hover {
    transform: scale(1.05); /* Agranda un poquito */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra elegante */
}

.card-img-top {
  height: 400px;        /* Todas las imágenes tendrán la misma altura */
  object-fit: cover;    /* Se recortan sin deformarse */
}

